* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: 'Montserrat', sans-serif;
}


img {
	width: 200px;
	height: 120px;
}

.card {
	width: 250px;
	height: 180px;
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: -150px;
}